html {
  font-size: 20px;
}

body {
  background-color: rgb(53, 41, 45);
  color: rgb(157, 231, 169);
}

a {
  color: aliceblue;
}

a:visited {
  color: aqua;
}

a:hover, a:active {
  color: aquamarine;
}
